{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link type="text/css" href="{% static 'vacancy/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="https://i.hh.ru/logos/svg/hh.ru__min_.svg?v=11032019" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Создаем навигацию -->

<nav class="nav fixed-top navbar-custom">
  <a class="navbar-brand" href="{% url 'home' %}">
      <img class="logo" src="https://i.hh.ru/logos/svg/hh.ru__min_.svg?v=11032019">
  </a>
	{% for m in menu %}
		{% if m.title == 'Результаты' and pk is None %}
			<a class="nav-link nav-text disabled">{{m.title}}</a>
		{% else %}
			<a class="nav-link nav-text" href="{% url m.url_name pk=pk %}">{{m.title}}</a>
	{% endif %}
	<a class="nav-link nav-text" href="{% url m.url_name %}">{{m.title}}</a>

	{% endfor %}
</nav>

{% block content %}
{% endblock %}

{% if page_obj.has_other_pages %}
<nav class="list-pages">
	<ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
				<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

		{% for p in paginator.page_range %}
		{% if page_obj.number == p %}
			<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
			<li class="page-num">
				<a href="?page={{ p }}">{{ p }}</a>
			</li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="page-num">
				<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
