{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'vacancy/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="https://i.hh.ru/logos/svg/hh.ru__min_.svg?v=11032019" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr align="left" valign="top">
	<td class="left-side">
		sgsdgsdgertyhetururtudgwegwertygewryery
	</td>
	<td >
		sgsdgsdsdvgsdgsdgsdfhhhhhhhhhhhhhhhhhhhhhhhbtrg
	</td>
</tr>
</table>
</body>
</html>
