{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link type="text/css" href="{% static 'vacancy/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="https://i.hh.ru/logos/svg/hh.ru__min_.svg?v=11032019" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Создаем навигацию -->

<nav class="nav fixed-top navbar-custom">
  <a class="navbar-brand" href="{% url 'home' %}">
      <img class="logo" src="https://i.hh.ru/logos/svg/hh.ru__min_.svg?v=11032019">
  </a>
	{% for m in menu %}
		<a class="nav-link nav-text" href="{% url m.url_name %}">{{m.title}}</a>
	{% endfor %}
</nav>

{% block content %}
{% endblock %}


<nav class="list-pages">
	<ul>
		{% for p in paginator.page_range %}
		<li class="page-num">
			<a href="?page={{ p }}">{{ p }}</a>
		</li>
		{% endfor %}
	</ul>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
