{% extends 'vacancy/base.html' %}


{% block content %}

<div class="container-fluid">

  <div class="row">

    <div class="col-sm-3 sidebar" style="background-color:lavender;">
        <p class="title-body">Поиск по вакансиям:</p>
		<div class="form">
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Поиск</button>
            </form>
        </div>

        <div class="line"></div>
        <p class = "title-body">Предыдущие запросы:</p>

	</div>
    <div class="col-sm-9 offset-3" style="background-color:white;">
        <p class = "title-body">Предыдущие запросы:</p>
        <p class = "title-body">Предыдущие запросы:</p>
    </div>
  </div>
</div>

{% endblock %}
