{% extends 'vacancy/base.html' %}


{% block content %}

<div class="container-fluid">
  <div><p class="title-body">...</p></div>
  <div class="row">
    <div class="col-sm-3 sidebar" style="background-color:lavender;">
        <div><p class="title-body">Поиск по вакансиям:</p></div>
		<div class="form">
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="form-label" >{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Поиск</button>
            </form>
        </div>

        <div class="line"></div>
        <p class = "title-body">Последние 5 запросов:</p>

	</div>
    <div class="col-sm-9 offset-3" style="background-color:white;">
        {% if res_request == 0 %}
                <p class = "title-body" style="color:black">Результаты поиска: 0</p>
        {% else %}
                <p class = "title-body" style="color:green"><strong>Результаты поиска: {{ res_request|length }} </strong></p>
                {% for r in res_request %}
                        <ul>
                            <li ><strong>Вакансия: {{ r.vacancy }}</strong></li>
                                {% autoescape off %}
                                <li><strong>Описание:</strong>{{ r.description|linebreaks }}</li>
                                {% endautoescape %}
                            <li><strong>Зарплата:</strong> {{ r.salary }}</li>
                            <li><strong>Навыки:</strong>   {{ r.skills }}</li>
                            <li><strong>Компания:</strong> {{ r.company|upper }}</li>
                            <li><strong>Адрес:</strong>    {{ r.address }}</li>
                            <li><strong>Ссылка:</strong>   <a href="{{ r.url_link }}">{{ r.url_link }}</a></li>
                            <div class="line"></div>
                        </ul>
                {% endfor %}
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
